{% extends "base.html" %}

{% block title %}Home{% endblock %}



    {% block image %}
        <img class="image_home"src="/static/image/capa.png">
    {% endblock %}

    {% block section %}    

        <h1>Sobre a Universidade</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem animi placeat architecto ipsum non
            commodi illum nulla eligendi illo laudantium nesciunt vel quam, blanditiis expedita ipsam magni et
            laborum repellat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tempore nesciunt quam
            voluptates dolores maxime, aut iure voluptas, officiis esse cum, eaque mollitia doloremque facere dicta
            quo? Nesciunt, repellendus porro?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi
            nesciunt maiores atque quas at tempora, maxime, eos, quidem beatae consequuntur ipsum quasi fugiat
            blanditiis nulla iusto veniam quisquam! Dignissimos, debitis!
        </p>  

    {% endblock %}




