{% extends "base.html" %}

{% block title %}Quemsomos{% endblock %}



{% block section %}

        <h1>Quem somos</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo excepturi esse nesciunt! Natus maxime nemo,
            ratione amet nulla reiciendis. Asperiores maxime aut beatae labore commodi quae voluptatem sint architecto
            illo? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio mollitia magni temporibus quasi
            assumenda. Aspernatur obcaecati, omnis ipsa exercitationem sapiente quo dignissimos doloremque provident
            ducimus nisi reiciendis expedita, soluta laudantium.</p>

        <h1>5 motivos para estudar</h1>
        <div class="for_list">
            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>
        </div>
        <hr>
        <h1>Objetivos</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo excepturi esse nesciunt! Natus maxime nemo,
            ratione amet nulla reiciendis. Asperiores maxime aut beatae labore commodi quae voluptatem sint architecto
            illo? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio mollitia magni temporibus quasi
            assumenda. Aspernatur obcaecati, omnis ipsa exercitationem sapiente quo dignissimos doloremque provident
            ducimus nisi reiciendis expedita, soluta laudantium.</p>

{% endblock %}
